{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-5">
    <div class="row border mt-2">
        <div class="col-lg-4 text-center">
            <h3>HTML</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/html5.png") }}"style="max-height: 200px; max-width: 200px;">
            <div class="mt-5 mb-5">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <h3>CSS</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/css.png") }}"style="max-height: 200px; max-width: 200px;">
            <div class="mt-4 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <h3>PHP</h3>
            <img class="col-lg-12 mt-5" src="{{ asset("/images/competences/php.png") }}"style="max-height: 300px; max-width: 300px;">
            <div class="mt-4 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border mt-2">
        <div class="col-lg-4 text-center">
            <h3>PSQL</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/psql.png") }}"style="max-height: 300px; max-width: 300px;">
            <div class="mt-3 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <h3>MySql</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/mysql.png") }}"style="max-height: 300px; max-width: 300px;">
            <div class="mt-4 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <h3>SQLite</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/sqlite.png") }}"style="max-height: 300px; max-width: 300px;">
            <div class="mt-4 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border mt-2">
        <div class="col-lg-6 text-center">
            <h3>Python</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/python.png") }}" style="max-height: 300px; max-width: 300px;">
            <div class="mt-4 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <h3>Java</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/java.png") }}"style="max-height: 300px; max-width: 300px;">
            <div class="mt-4 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border mt-2 mb-5">
        <div class="col-lg-6 text-center">
            <h3>Bash</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/bash.png") }}" style="max-height: 300px; max-width: 300px;">
            <div class="mt-3 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <h3>C++</h3>
            <img class="col-lg-12" src="{{ asset("/images/competences/c++.png") }}"style="max-height: 300px; max-width: 300px;">
            <div class="mt-5 mb-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}